* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  font-family: "Nunito", sans-serif;
  margin: 3rem auto 0;
  max-width: 600px;
  padding: 0 15px;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
h1 {
  margin-bottom: 0.67em;
}
h3 {
  font-size: 1.17em;
  margin-bottom: 1em;
}
ul {
  margin-bottom: 1em;
}
li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  border-radius: 5px;
  background-color: #fff;
}
.App__itemAdder {
  color: #fff;
  background-color: #00a8ff;
  font-size: 1.2em;
  height: 50px;
  width: 100%;
  cursor: pointer;
  transition: padding 0.2s;
  display: block;
}
.App__itemAdder:hover {
  padding: 0 5px;
}
.modal__input {
  display: block;
  height: 46px;
}

/* MODAL */
/* Background effect. It covers the entire site */
.modal {
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Overlay effect: translucent background: black w/ partial opacity */
  z-index: 1; /* Overlay effect: positioned over other containers */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 80px; /* Location of the content container */
}
/* Modal content */
.modal-content {
  background-color: white;
  width: 70%; /* Width in proportion to its parent container*/
  max-width: 640px; /* Max width where it stops expanding */
  height: 70%; /* Height in proportion to its parent container */
  margin: auto; /* Auto margin according to the element width */
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px; /* Optional. Rounds container corners */
}
/* Close button */
.close {
  color: #aaaaaa;
  float: right; /* Positioned to the right of the parent container whichever size it is */
  font-size: 25px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
