* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  font-family: "Nunito", sans-serif;
  margin: 3rem auto 0;
  max-width: 600px;
  padding: 0 15px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
h1 {
  margin-bottom: 0.67em;
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
  margin-bottom: 1em;
}
ul {
  margin-bottom: 1em;
}
li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  border-radius: 5px;
  background-color: #fff;
}
form {
  width: 380px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.App__itemAdder {
  color: #fff;
  background-color: #00a8ff;
  font-size: 0.8em;
  height: 50px;
  width: 100%;
  cursor: pointer;
  transition: padding 0.2s;
  display: block;
}
.App__itemAdder:hover {
  padding: 0 5px;
}
.modal__input {
  display: block;
  height: 46px;
}

/* MODAL */
/* Background effect. It covers the entire site */
.modal {
  background-color: rgba(245, 245, 245, 0.6);
  z-index: 1; /* Overlay effect: positioned over other containers */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 80px; /* Location of the content container */
}
/* Modal content */
.modal-content {
  background-color: #fff;
  max-width: 400px; /* Width in proportion to its parent container*/
  /* Max width where it stops expanding */
  height: 27%; /* Height in proportion to its parent container */
  margin: auto; /* Auto margin according to the element width */
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px; /* Optional. Rounds container corners */
}
/* Close button */

input {
  height: 46px;
  width: 100%;
  margin: 15px auto;
  border: 1px solid #f0efef;
  border-radius: 2px;
}
.buttons button {
  font-size: 0.8em;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  border: none;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.add {
  background-color: #00a8ff;
  color: white;
}
.close {
  background-color: #f5f5f5;
}
